<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ranul.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WallApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.ranul.myapplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //WELCOME
        <activity android:name="com.example.ranul.myapplication.Welcome">
            <intent-filter>
                <action android:name="com.example.gayan.myapplication.Welcome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //Forgot password
        <activity android:name="com.example.ranul.myapplication.ForgotActivity">
            <intent-filter>
                <action android:name="com.example.gayan.myapplication.ForgotActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        //Register
        <activity android:name="com.example.ranul.myapplication.RegisterActivity">
            <intent-filter>
                <action android:name="com.example.gayan.myapplication.RegisterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>